body, html {
    height: 100%;
    margin: 0;
    font-family: "Arvo", "serif";
    // font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: flex;
    height: 100%;
}

.sidenav {
    flex: 1;
    background-color: #CCD5AE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav a {
    padding: 3px;
    display: block;
}

.grid {
    flex: 1;
    background-color: #E9EDC9;
    text-align: left;
    padding: 20px;
}

.grid a {
    padding: 3px;
    display: block;
}

.focus {
    flex: 6;
    text-align: center;
    justify-content: center;
}

.header {
    text-align: right;
    padding: 20px;
}

.subtitle {
    text-align: left;
    margin: auto;
}

.hidden {
    visibility: hidden;
}

a {
    text-decoration: none;
}
